body {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  min-width: 100%;
  
}

:root {
  --black: rgb(27, 27, 27);
  --white: rgb(236, 236, 236);
  --font-weight:700;
  --slide1: url("https://wallpaperaccess.com/full/817497.jpg");
  --slide2: url("https://th.bing.com/th/id/Rb5952fdd56d4264cbad02c191f9af225?rik=umZe9c44jBvxGA&pid=ImgRaw");
  --backgroundcolorOne: linear-gradient(to left, rgba(24, 45, 152, 0.5), rgba(2, 36, 80, 0.192));
  --backgroundcolorTwo: linear-gradient(to left, rgba(2, 23, 23, 0.5), rgba(8, 87, 127, 0.192));

}

body {
  font-family: "Ubuntu", sans-serif;
  background: var(--slide1);
  color: var(--color);
  transition: 0.4s;
  
}

body.light {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
  object-fit: contain;
  color: var(--black);
  font-weight: var(--font-weight);
  background-color:  var(--backgroundcolorOne);
  --slide2: url("https://th.bing.com/th/id/R8027190a6f61bc203908cdce0ffcf3a7?rik=daWH5DjRXfM4LA&pid=ImgRaw");
}



body.dark {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
  object-fit: contain;
  color: var(--white);
  font-weight: var(--font-weight);
  --slide1: url("https://wallpaperaccess.com/full/654120.jpg");
  background-color:  var(--backgroundcolorTwo);
}
.starting__windows {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: "Lato", sans-serif;
  -webkit-animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}



@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.starting__windows > img {
  width: 140px;
  height: 140px;
  animation: rotateAnimation 1s linear infinite;
  margin-top: 350px;
}

@media all and (max-width:553px){
  .starting__windows > img {
    margin-top: 350px;
  }
}


.starting__text {
  color: white;
  margin-top: 20px;
  font-size: 25px;
  font-family: "Lato", sans-serif!important;
  letter-spacing: 1px;
}

.micro__corp {
  margin-top: 420px;
  font-size: 14px;
  color: rgb(146, 145, 145);
  letter-spacing: 0.5px;
  line-height: 4px;
}
@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.loading__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  max-width: 100%;
  height: auto;
  background-image: url("assets/guest.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  min-width: 100%;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(8, 34, 63, 0.3);
  border-radius: 50%;
  border-top-color: rgb(18, 32, 70);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.loading__text {
  color: rgb(231, 229, 229);
  margin-top: -50px;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.icon-spinner-2:before {
  content: "\e001";
}
.guestPage {
  background-image: url("assets/guest.jpg") !important;
  width: 100% !important;
  height: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  z-index: 11;
  /*
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  */
  font-family: "Roboto", sans-serif !important;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.guestLogin {
  display: flex;
  flex-direction: column;
}

.guestLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
}

.guest__cont {
  width: 1000px !important;
  border: 1px solid black;
  height: 1000px;
  background-color: blue;
}
.guest__image {
  max-width: 200px !important;
  height: auto !important;
  border-radius: 50px;
}

.guest__button {
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  border: 2px solid rgb(4, 75, 240);
  width: 150px;
  font-weight: 700;
  background: linear-gradient();
  height: 30px;
  font-size: 15px;
  color: black;
  background: linear-gradient(
      217deg,
      rgba(77, 166, 240, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgb(12, 141, 198), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  box-shadow: 1px 5px 5px rgb(9, 240, 124);
  transition: all 0.3 linear;
  font-family: "Roboto", sans-serif !important;
}

.guest__button:hover {
  background: linear-gradient(
      217deg,
      rgba(5, 65, 231, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgb(11, 120, 223), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.guest__text {
  color: black;
  font-family: "Roboto", sans-serif !important;
  font-weight: 900;
}



.colorGreen {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  border: 5px solid black;
  background: rgb(109, 14, 14);
  cursor: pointer;
}

.animation {
  transform-origin: center;
}

.colorGreen .color {
  background: rgb(190, 142, 142);
}
.computer__cont {
  top: -12%;
  position: relative;
  left: 40%;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.753);
  border: 5px solid rgb(41, 40, 40);
}

.cd__rom {
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 35px;
  font-size: 10px;
  text-align: right !important;
  display: flex;
  font-family: "Lato", sans-serif;
}

.line__in {
  border-radius: 50px;
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background: rgb(47, 194, 71);
}
.tick {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4px;
  height: 4px;
  margin-left: 3px;
  margin-top: 3px;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  text-align: right;
  background-color: black;
}
.cd__press {
  width: 5px;
  height: 5px;
  border-radius: 10px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2.5px;
  border: 1px solid rgb(51, 50, 50);
  background-color: white;
}
.text__in {
  color: white;
  margin-left: 3px;
  margin-right: 9px;
}
.line__out {
  border-radius: 50px;
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  background: rgb(117, 46, 134);
}
.jacks {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  justify-content: space-between;
}
.cd__In {
  width: 80px;
  height: 5px;
  border-radius: 10px;
  margin-left: 3px;
  margin-top: 2px;
  border: 2px solid rgb(75, 74, 74);
}

.power__click {
  width: 4px !important;
  height: 4px !important;
  background-color: black !important;
  border: 1px solid black !important;
  border-radius: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-left: 0.30em;
  margin-top: 0.30em;
}

.power__text {
  color: white;
  position: absolute;
  margin-bottom: -208px;
  font-size: 9px;
  font-family: "Lato", sans-serif;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: 60px auto;
  font-size: 6px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.power__up:focus {
  background-color: green;
}


.computer__top {
  display: flex;
  margin-bottom: auto;
  width: 80px;
  height: 13px;
  border-radius: 5px;
  border: 3px solid rgb(75, 74, 74);
  background-color: black;
}


@keyframes spinnerTwo {
  to {
    transform: rotate(360deg);
  }
}


.power__up {
  border-radius: 50px;
  width: 15px;
  height: 15px;
  margin-bottom: 30px;
  border: 4px solid black;
  background: rgb(109, 14, 14);
  cursor: pointer;
  animation: beat 1.5s ease-in-out infinite both;
}

@keyframes beat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.colorGreen {
  background: rgb(5, 163, 26);
}

@keyframes spinnerTwo {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinnerOne {
  to {
    transform: rotate(360deg);
  }
}

.spike::before {
  border: 5px solid #000000;
  border-top-color: #020203;
  border-right-color: rgb(3, 3, 3);
  border-bottom-color: rgb(0, 0, 0);
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -90px;
  margin-left: -35px;
  border-radius: 50%;
}

.spins::before {
  border: 5px solid #000000;
  border-top-color: #020203;
  border-right-color: rgb(3, 3, 3);
  border-bottom-color: rgb(0, 0, 0);
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -10px;
  margin-left: -35px;
  border-radius: 50%;
}

.spin:before {
  border: 5px solid #b409ca;
  border-top-color: #3500c8;
  border-right-color: rgb(221, 7, 0);
  border-bottom-color: rgb(246, 98, 0);
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -90px;
  margin-left: -35px;
  border-radius: 50%;
}

.spinnerTwo:before {
  animation: spinnerTwo 2s linear infinite;
}

.spinner:before {
  border: 5px solid #b409ca;
  border-top-color: #3500c8;
  border-right-color: rgb(221, 7, 0);
  border-bottom-color: rgb(246, 98, 0);
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -10px;
  margin-left: -35px;
  border-radius: 50%;
}

.spinnerOne:before {
  animation: spinnerOne 2s linear infinite;
}

body.dark {
  width: 100%;
  object-fit: contain;
  position: fixed;
  top: 0;
  left: 0;
  --text-color: var(--white);
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
  --background: var(--slide2);
  --font-weight: 500;
  --slide2: url("https://github.com/tekila12/WIN-7/blob/main/public/images/windows.jpg?raw=true");
}

.smallProjects__containers {
  position: absolute;
  bottom: -0.17vw;
  z-index: 1;
  left: 9.05%;
  padding: 7px;
  -webkit-animation: roll-in-top 0.7s ease-out both;
  animation: roll-in-top 0.7s ease-out both;
  color: var(--color);
  font-weight: var(--font-weight);
  cursor: pointer;
}


.smallProjects__containershover {
  background-color: rgb(175, 220, 235, 0.2);
  opacity: 0.7;
  transition: opacity 0.55s ease-in-out;
  -moz-transition: opacity 0.55s ease-in-out;
  -webkit-transition: opacity 0.55s ease-in-out;
}
@-webkit-keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

.smallProject__container {
  position: absolute;
  bottom: 37%;
  padding: 4px;
  z-index: 0;
  left: 70%;
  font-size: 15px;
  cursor: pointer;
  display: flow-root;
  margin-left: 0.6em;
  width: min-content;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--color);
}

.smallProject__img {
  width: 3rem;
  height: 2.7rem;
}

.smallProject__img > h3 {
  width: 3rem;
  height: 2.7rem;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 40px;
}

.img__spinner {
  width: 70px;
  height: 70px;
  animation: -win-spin 2s infinite linear;
  -webkit-animation: -win-spin 2s infinite linear;
}

@-webkit-keyframes -win-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes -win-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.smallProjects__containers:hover {
  background-color: rgb(175, 220, 235, 0.2);
  opacity: 0.7;
  transition: opacity 0.55s ease-in-out;
  -moz-transition: opacity 0.55s ease-in-out;
  -webkit-transition: opacity 0.55s ease-in-out;
}

.smallProjects__containers > img {
  margin-top: 0em !important;
  width: 3rem;
  height: 2.7rem;
}

@media all and (min-width: 1921px) {
  .smallProject__img {
    width: 4.3rem;
    height: 3.7rem;

  }
  .close__project {
    width: 40px;
    height: 30px;
  }
  .smallProjects__containers {
   margin-top: -40px;
  position: absolute;
  top: 97%;
  }
  .smallProjects__containers > img {
    margin-top: .5em !important;
    width: 3rem!important;
    height: 3rem!important;
  }
}

@media all and (max-width: 1918px) {
  .smallProjects__containers {
    margin-left: 19px !important;
  }
}

@media all and (max-width: 1828px) {
  .smallProjects__containers {
    margin-left: 27px !important;
  }
}
@media all and (max-width: 1758px) {
  .smallProjects__containers {
    margin-left: 32px !important;
  }
}

@media all and (max-width: 1698px) {
  .smallProjects__containers {
    margin-left: 37px !important;
    bottom: -5px;

  }
}

@media all and (max-width: 1641px) {
  .smallProjects__containers {
    margin-left: 42px !important;
  }
}

@media all and (max-width: 1571px) {
  .smallProjects__containers {
    margin-left: 47px !important;
  }
}

@media all and (max-width: 1511px) {
  .smallProjects__containers {
    margin-left: 52px !important;
  }
}

@media all and (max-width: 1451px) {
  .smallProjects__containers {
    margin-left: 57px !important;
  }
}

@media all and (max-width: 1387px) {
  .smallProjects__containers {
    margin-left: 62px !important;
  }
}

@media all and (max-width: 1340px) {
  .smallProjects__containers {
    margin-left: 67px !important;
    bottom: -5px;
  }
}

@media all and (max-width: 1278px) {
  .smallProjects__containers {
    margin-left: 73px !important;
  }
}

@media all and (max-width: 1181px) {
  .smallProjects__containers {
    margin-left: 79px !important;
  }
}
@media all and (max-width: 1118px) {
  .smallProjects__containers {
    margin-left: 86px !important;
  }
}
@media all and (max-width: 1064px) {
  .smallProjects__containers {
    margin-left: 91px !important;
  }
}

@media all and (max-width: 1000px) {
  .smallProjects__containers {
    margin-top: 1px;
    margin-left: 97px !important;
  }
}
@media all and (max-width: 914px) {
  .smallProjects__containers {
    margin-left: 103px !important;
  }
}

@media all and (max-width: 850px) {
  .smallProjects__containers {
    margin-left: 108px !important;
  }
}
@media all and (max-width: 770px) {
  .smallProjects__containers {
    margin-left: 115px !important;
  }

  .switch {
    left: 80%;
  }
}

@media all and (max-width: 688px) {
  .smallProjects__containers {
    margin-left: 121px !important;
  }
}

@media all and (max-width: 618px) {
  .smallProjects__containers {
    margin-left: 126px;
  }
}

@media all and (max-width: 552px) {
  .smallProjects__containers {
    margin-left: 132px !important;
  }

  .micro__corp {
    font-size: 13px;
    margin-top: 525px;
  }

  .guest__image {
    width: 150px;
    height: auto;
  }

  .guest__button {
    width: 130px;
    font-size: 13px;
  }
  .starting__text {
    font-size: 20px;
  }
  .starting__windows > img {
    width: 90px;
    height: 90px;
  }

  .computer__cont{
    width:80px;
    left: 80%;
  }
  .computer__top{
  width: 65px;
  }
  .cd__rom{
    margin-right: 21px;
    font-size: 9px;
  }

  .jacks{
    margin-left: 7px;
  }
  .spin::before{
    width: 50px;
    margin-left: -25px;
    height: 50px;
  }

  .spike::before{
    width: 50px;
    margin-left: -25px;
    height: 50px;
  }

  .spinner:before{
    width: 50px;
    margin-left: -25px;
    height: 50px;
  }

  .spins::before{
    width: 50px;
    margin-left: -25px;
    height: 50px;
  }


}

@media all and (max-width: 481px) {
  .smallProjects__containers {

    margin-left: 139px !important;
  }
}

@media all and (max-width: 410px) {
  .smallProjects__containers {
    margin-left: 146px !important;
  }
  .switch {
    left: 75%;
  }
}

@media all and (max-width: 370px) {
  .smallProjects__containers {
    margin-left: 150px !important;
  }
}





.smallProject__containers {
  font-size: 13px;
}

@media all and (min-width: 1971px) {
  .smallProjects__containers {
    margin-left: 54px !important;

  }

  .small__projectstext {
    font-size: 18px;
  }
}

@media all and (min-width: 2038px) {
  .smallProjects__containers {
    margin-left: 48px !important;
  }
}

@media all and (min-width: 2101px) {
  .smallProjects__containers {
    margin-left: 42px !important;
  }
}

@media all and (min-width: 2170px) {
  .smallProjects__containers {
    margin-left: 36px !important;
  }
}

@media all and (min-width: 2259px) {
  .smallProjects__containers {
    margin-left: 30px !important;
  }
}

@media all and (min-width: 2330px) {
  .smallProjects__containers {
    margin-left: 24px !important;
  }
}

@media all and (min-width: 2400px) {
  .smallProjects__containers {
    margin-left: 18px !important;
  }
}

@media all and (min-width: 2467px) {
  .smallProjects__containers {
    margin-left: 12px !important;
  }
}

@media all and (min-width: 2538px) {
  .smallProjects__containers {
    margin-left: 6px !important;
  }
}

@media all and (min-width: 2580px) {
  .smallProjects__containers {
    margin-left: 1px !important;
  }
}

@media all and (min-width: 2602px) {
  .smallProjects__containers {
    margin-left: -2px !important;
  }
}

@media all and (min-width: 2620px) {
  .smallProjects__containers {
    margin-left: -2px !important;
  }
}
